body{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0;
    background-color:rgb(255, 251, 251);
   
}

main{
    min-height: 100vh;
    margin-bottom:20px
}

footer{
    margin-top:auto;
}