html{
    height: 100%;
    
   
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
   
    width:100%;
    margin:0;
    background-color:rgb(255, 251, 251);
   
}

main{
    min-height: 70vh
}

footer{
    margin-top:auto;
}